:root {
    --black-color: #10151C;
    --white-color:#FFFFFF;
    --pink-color: #FA0369;
    --grey-color: #7E8597;
    --footer-color: #F9F9FB;
    --lightblackback-color:#141A25;
}


    html{
        box-sizing: border-box;
        font-size: 62.5%;
        font-family: 'DM Sans', sans-serif;
        margin: 0;
        padding: 0;
    }
    html, body { height: 100%;}

    body > footer {
        position: sticky;
        top: 100vh;
    }
    h1{
        color:var(--white-color);
        font-size: 3.2rem;
        font-style: normal;
        font-weight:500;
        line-height:4.2rem;
        margin: 0;
    }
    h2{
        color:var(--white-color);
        line-height:3.1rem;
        font-weight:500;
        font-size: 2.4rem;
        text-align:left;
    }
    body{
        background-color: var(--black-color);
    }

    header{
        max-width: 100%; 
        max-height: 100%;
        background-color: var(--black-color);
        box-sizing: inherit;
        padding: 0 6.5%;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .main-logo{
        margin-top: 1.4rem;
    }
    header button{
        background: rgba(255, 255, 255, 0.1);
        color:var(--white-color);
        font-size: 1.4rem;
        text-align:center;
        width: 11.3rem;
        height: 3.8rem;
        border: var(--black-color);
        border-radius: 10rem;
        margin-top:1.8rem;
    }
    .hero{
        max-width: 100%; 
        max-height: 100%;
        background-color: var(--black-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 6.5%;
        margin: 0 0;
        box-sizing: inherit;
    }
    .hero h1{
        text-align:center;
        hyphens:auto; 
    }
    .imgs1sect{
        width: 32.7rem;
        height: 38.1rem;
        margin-top: 7rem;
        margin-bottom: 1rem;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-left: 0%;
    }
    .backg-rec{
        width: 100%;
        height: 32.7rem;
        background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
        border-radius: 1.4rem;
        position: relative;
    } 
    .baby-top{
        max-width: 100%; 
        height: 100%;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translate(-50%);
    }
    .s1but{
        width: 32.7rem;
        height: 5rem;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    .hero button{
        background: var(--pink-color);
        color:var(--white-color);
        font-size: 1.4rem;
        text-align: center;
        border-style: hidden;
        border-radius: 10rem;
        width: 32.7rem;
        height: 5rem;
        margin:auto;
        position: absolute;
    }
    .hero p{
        color:var(--grey-color);
        line-height:1.6rem;
        font-weight:normal;
        font-size: 1.2rem;
        text-align:center; 
    }

    .logo{
        max-width: 100%; 
        max-height: 100%;
        background-color: var(--black-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 0 6.5%;
    }

    .steps{
        max-width: 100%; 
        max-height: 100%;
        box-sizing: inherit;
        background-color: var(--black-color);
        padding: 8rem 6.5%;
    }
    .red-p{
        color:var(--pink-color);
        font-size: 1.6rem;
        line-height: 2.1rem;
        text-align: center;
        letter-spacing: 0.04rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    .steps h1{
        margin-bottom: 4rem;
        text-align:center;
        hyphens:auto; 
    }
    .steps ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        list-style-type: none;
        padding: 0;
    }
    .step{
        width: 32.8rem;
        height: 26.2rem;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        background-color: var(--lightblackback-color);
        border-radius: 2.4rem;
        display: flex;
        justify-content: center;
        margin: 1.5rem 1.5rem;
    }
    .stepicon{
        max-width: 100%; 
        max-height: 100%;
        position: absolute;
        margin-top: 5.6rem;
    }
    .step-but{
        color: var(--white-color);
        width: 6.7rem;
        height: 2.8rem;
        background-color: var(--pink-color);
        border: var(--pink-color);
        border-radius: 10rem;
        position: absolute;
        margin-top: 14.6rem;
    }
    .step-but p{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: center;
        margin: 0;
        padding-top: 0.5rem;
        position: relative; 
    }
    .step-p{
        color: var(--grey-color);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.3rem;
        text-align: center;
        position: relative;
        margin-top: 17.3rem;
    }

    .whyus{
        max-width: 100%; 
        max-height: 100%;
        box-sizing: inherit;
        background-color: var(--black-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 8rem;
        padding-left:  6.5%;
        padding-right: 6.5%;
    }
    .whyus h1{
        margin-bottom: 4rem;
        text-align:center;
    }
    .whyus ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        list-style-type: none;
        padding: 0;
        gap: 5rem;
    }
    .imgs2sect{
        width: 32.8rem;
        height: 40rem;
        position: relative;
        display: flex;
        align-items: center;
    }
    .background-bottom-rec{
        width: 100%;
        height: 32.7rem;
        background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
        border-radius: 1.4rem;
    }
    .background-bottom-elipse{
        width: 100%;
        height: 32.7rem;
        background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
        border-radius: 100%;
    }
    .img-top{
        max-width: 100%; 
        max-height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .whyus p{
        color: var(--grey-color);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
    }
    .whyusads{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 4.7rem;
    }
    .add-img{
        width: 4.8rem;
        height: 4.8rem;
        position: relative;
        margin-bottom: 1.6rem;
        background-color: var(--white-color);
        border-radius: 100%;
    }
    .add-icon{
        max-width: 100%; 
        max-height: 100%;
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translate(-50%);
        margin-top: 1rem;
    }
    .add p{
        margin: 0;
        color: var(--white-color);
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-right: 1.5rem;
    }
    .whyus button{
        background: var(--pink-color);
        color:var(--white-color);
        font-size: 1.4rem;
        text-align:center;
        border: var(--pink-color);
        border-radius: 10rem;
        width: 32.7rem;
        height: 5rem;
        margin-bottom: 5rem;
    }
    .whyus-first-p{
        margin-bottom: 2.5rem;
    }

    .whytik{
        max-width: 100%; 
        max-height: 100%;
        box-sizing: inherit;
        background-color:var(--white-color);
        justify-content: center;
        align-items: center;
        padding: 8rem 6.5%;
    }
    .onbackg{
        background-color:var(--lightblackback-color);
        border-radius: 2.4rem;
        width: 100%;
        height: 54.6rem;
        position: relative;
    }
    .whytik-text{
        padding: 8% 0%;
    }
    .whytik h1{
        padding-top: 4rem;
        padding-left: 2rem;
    }
    .whytik p{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: var(--white-color);
        margin-top: 3.8rem;
        padding-left: 2rem;
        padding-right: 3rem;
        hyphens:auto;
    }
    .whytik-first-p{
        margin-bottom: 4rem;
    }
    .whytik button{
        background-color: var(--pink-color);
        color:var(--white-color);
        font-size: 1.4rem;
        border: var(--pink-color);
        text-align: left;
        padding-left: 3.3rem;
        border-radius: 10rem;
        width: 28.7rem;
        height: 5rem;
        margin-bottom: 8.2rem;
        left: 50%;
        transform: translate(-50%);
        margin-top: 3.4rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .whytik button img{
        float: right;
        margin-right: 3.3rem;
    }

    .CTA{
        max-width: 100%; 
        max-height: 100%;
        box-sizing: inherit;
        background-color:var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 6.5%;
    }
    .CTA img{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        left: 50%;
        transform: translate(-50%);
    }
    .CTA h1{
        text-align: center;
        color:var(--black-color);
        margin-bottom: 3.8rem;
        position: relative;
        right: 3rem;
    }
    .CTA p{
        color: var(--grey-color);
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        margin-top: 3.3rem;
        hyphens:auto;
        margin-left: 2rem;
    }

    footer{
        max-width: 100%; 
        max-height: 100%;
        background-color:var(--footer-color);
        box-sizing: inherit;
    }
    .footer-container{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    footer p{
        color: rgba(26, 26, 26, 0.56);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 180%;
        margin: 3.8rem 2.4rem;
        float: right;
        hyphens:auto;
    }
    footer img{
        margin: 0.5rem 1.5rem;
    }
    .footer-logos{
        display: flex;
        flex-wrap: nowrap;
        margin: 3.5rem 2.5rem;
        float: left;
    }
    form{
        margin-top: 2rem;
    }
    fieldset{
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        border-color:var(--white-color);
    }
    legend{
        font-size: 3rem;
        color: var(--white-color);
        margin-right: auto;
        margin-left: auto;
    }
    form p{
        font-size: 2rem;
        line-height: 1.5;
        color:var(--white-color);
        margin: 0 auto;
        padding: 0;
    }
    .inputer{
        border-radius: 10rem;
        border-width: 0;
        padding: 0;
        font-size: 1.5rem;
        line-height: 5rem;
        min-width: 31rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .inputer:hover{
        font-size: 1.8rem;
        transition: 0.7s;
    }
    .inputer:focus{
        background-color:var(--grey-color);
    }
    .pol{
        display: flex;
        justify-content:space-around;
        gap:3rem;
    }
    .pol p{
        margin: 0;
    }
    .formbuttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        padding: 2rem;
    }
    .formbut{
        border-radius: 10rem;
        text-align: center;
        font-size: 2.6rem;
        line-height: 5rem;
        background-color:var(--pink-color);
        color:var(--white-color);
        min-width: 14rem;
        padding-left: 0;
        padding-right: 0;
        border: 0;
    }
    .formbut:hover{
        transition: 1s;
        transform: scale(1.2);
        font-size: 2.2rem;
    }

    @media screen and (min-width: 900px) {
        h1{
            font-size: 4.3rem;
        }
        p{
            font-size: 2rem;
        }
        .hero p{
            font-size: 2rem;
        }
        .whytik p{
            font-size: 2rem;
        }
        .whyus p{
            font-size: 2rem;
        }
        .CTA p{
            font-size: 2rem;
        }
        footer p{
            font-size: 1.5rem;
        }
    }
    @media screen and (min-width: 768px) and (max-width:1024px) {
        h1{
            font-size: 4.3rem;
        }
        p{
            font-size: 2rem;
        }
        .hero p{
            font-size: 2rem;
        }
        .whytik p{
            font-size: 2rem;
        }
        .whyus p{
            font-size: 2rem;
        }
        .CTA p{
            font-size: 2rem;
        }
        footer p{
            font-size: 1.5rem;
        }
    }
    @media screen and (min-width: 1024px) {
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 2.5rem;
        }
        .hero p{
            font-size: 2.5rem;
        }
        .whytik p{
            font-size: 2.5rem;
        }
        .whyus p{
            font-size: 2.5rem;
        }
        .CTA p{
            font-size: 2.5rem;
        }
        footer p{
            font-size: 2rem;
        }
    }